.container {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
}

main {
  display: block;
}

.section {
margin: 10px 0;
background: white;
box-shadow: 0 0 5px; // pierwsza pozycja do weryfikacji
}

.section__header {
  font-size: 20px;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.section__body {
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

.form__input {
  padding: 10px;
  border: 1px solid #ddd;
}

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tasks__content--done {
  text-decoration: line-through;
}

.tasks__button {
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  padding: 0;
}

.tasks__button--toggleDone {
  background: hsl(120, 61%, 34%);
}

.tasks__button--toggleDone:active {
  background: hsl(120, 61%, 44%);
}

.tasks__button--remove {
  background: hsl(120, 61%, 54%);
}